*.tfstate
*.tfstate.*
*.tfstate.backup
tfplan
*.tfplan
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform/
.terraform.lock.hcl
secrets/
*.pem
*.key
.DS_Store
